

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  
    <input id="input" type="test">
        <select id="select">
            <option>+</option>
            <option>-</option>
            <option>x</option>
            <option>÷</option>
        </select>
        <input type="text" id="input_2">
        <input type="button" id ="btn" value= "click!!"></button>
        <p>答えは：<span id="total">0</span></p>
         <h1>hi</h1>
  <input type="text" id="type">
  <input type="button" id ="typ_btn" value= "click!!"onclick ="increment()"></button>
  <p><span id= "num">0</span>字が入力されています。</p>
  <%= javascript_include_tag "clickme.js" %>
  
</body>
</html>
